body {
	background-color:#BFFFF1;
	font-family:garamond;
	font-size:20px;
	max-width:800px;
	margin: auto;
}
p{
	color:#379634;
	padding-left:20px;
	font-size:26px;
}
ul {
	padding: 4px;
	width:315px;
	list-style-type: none;
	margin: left;
	background-color:#b9bded;
}
a{
	color:#0A3200;
}
ol {
	font-size:30px;
	color:#379634;
	list-style-position:inside;
}
img {
	padding-top:20px;
	max-width: 50%;
	border-radius:50%;
}
h1,h2 {
	color:#91A6FF;
}
li a{
	color:#000;
	display:block;
	text-decoration:none;
}
li a:hover{
	color:#379634;
}
.byline{
	color:#91A6FF;
	font-size:23px;
}
.introText{
		color:#379634;
		padding-left:20px;
		padding-top:20px;
		font-size:30px;
}
.ingredientsList{
	font-size:30px;
	background-color:#BFFFF1;
	list-style-type: circle;
}
.ingredientsList li a {
	text-decoration: underline;
}
